$bgColor: #2b2b2b;
$color: #fff;
$btnColor: #A259FF;
$foreignColor: #ccc;
$res_768_1199: "only screen and (min-width: 768px) and (max-width: 1199px)";
$res_767: "only screen and (max-width: 767px)";
@mixin btn($display, $height, $gap){
    display: $display;
    height: $height;
    gap: $gap;
}
@mixin responsiveTablet(){
    @media #{$res_768_1199}{
        @content;
    }
}
@mixin responsiveMobile(){
    @media #{$res_767}{
        @content;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: WorkSans;
}
@font-face {
    font-family: WorkSans;
    src: url(../font/WorkSans-Medium.otf);
}
@font-face {
    font-family: WorkSansThin;
    src: url(../font/WorkSans-Thin.otf);
}
body{
    background: $bgColor;
}
.main {
    min-width: max-content;
    .container{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: flex-start;
        @include responsiveTablet{
            display: flex;
            width: 100%;
            margin: auto;
            flex-direction: column;
            align-items: flex-start;
        }
        @include responsiveMobile(){
            display: flex;
            width: 100%;
            margin: auto;
            flex-direction: column;
            align-items: flex-start;
        }
        .header{
            display: flex;
            padding: 20px 50px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            @include responsiveTablet{
                display: flex;
                padding: 15px 50px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
            }
            @include responsiveMobile(){
                display: flex;
                padding: 15px 30px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
            }
            .header-left{
                display: flex;
                align-items: center;
                gap: 10px;
                .StoreFont{
                    width: 32px;
                    height: 32px;
                    flex-shrink: 0;
                }
                .nftMarketplace{
                    width: 199.414px;
                    height: 19.8px;
                    flex-shrink: 0;
                }
            }
            .header-right{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                .header__item-link{
                    display: flex;
                    height: 46px;
                    padding: 0px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    @include responsiveTablet{
                        display: none;
                    }
                    @include responsiveMobile(){
                        display: none;
                    }
                    .item{
                        text-decoration: none;
                        color: $color;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                    }
                    .btnSignUp{
                        @include btn(flex, 60px, 12px);
                        padding: 0px 30px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        background-color: #A259FF;
                    }
                }
                .burgerMenu{
                    display: none;
                    @include responsiveTablet{
                        display: block;
                    }
                    @include responsiveMobile(){
                        display: block;
                    }
                }
            }
        }
        .container__content{
            display: flex;
            align-items: center;
            gap: 60px;
            align-self: stretch;
            @include responsiveTablet{
                display: flex;
                align-items: center;
                gap: 40px;
                align-self: stretch;
            }
            @include responsiveMobile(){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: stretch;   
            }
            .container__content-left{
                flex: 1;
                align-self: stretch;
                img{
                    @include responsiveMobile(){
                        width: 100%;
                        height: 580px;
                        align-self: stretch;
                    }
                }
                
            }
            .container__content-right{
                display: flex;
                padding: 100px 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                flex: 1;
                @include responsiveTablet(){
                    display: flex;
                    padding: 80px 0;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                    flex: 1;
                }
                @include responsiveMobile(){
                    display: flex;
                    width: 80%;
                    padding: 30px 0 40px 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                }
                .container__content-right-heading{
                    display: flex;
                    width: 460px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                    @include responsiveTablet(){
                        display: flex;
                        width: 325px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    @include responsiveMobile(){
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    .container__content-right-heading-title{
                        color: $color;
                        font-size: 40px;
                        line-height: 110%;
                        text-transform: capitalize;
                        @include responsiveTablet(){
                            color: $color;
                            font-size: 28px;
                            line-height: 120%;
                            text-transform: capitalize;
                        }
                        @include responsiveMobile(){
                            flex: 1;
                            color: $color;
                            font-size: 52px;
                            line-height: 120%;
                            text-transform: capitalize;   
                        }
                    }
                    .container__content-right-heading-des{
                        align-self: stretch;
                        color: $color;
                        font-size: 22px;
                        line-height: 160%;
                        text-transform: capitalize;
                        @include responsiveTablet(){
                            align-self: stretch;
                            color: $color;
                            font-size: 16px;
                            line-height: 160%;
                            text-transform: capitalize;
                        }
                        @include responsiveMobile(){
                            align-self: stretch;
                            color: $color;
                            font-size: 22px;
                            line-height: 160%;
                            text-transform: capitalize;
                        }
                    }
                }
                .container__content-right-form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                    align-self: stretch;
                    .container__content-right-form-username{
                        display: flex;
                        width: 330px;
                        height: 46px;
                        padding: 16px 20px;
                        align-items: center;
                        gap: 12px;
                        align-self: stretch;
                        border-radius: 20px;
                        border: 1px solid #858585;
                        background: #fff;
                        input{
                            border: none;
                            outline: none;
                            font-size: 16px;
                            flex: 1;
                        }
                        @include responsiveTablet(){
                            display: flex;
                            width: 325px;
                            height: 46px;
                            padding: 16px 20px;
                            align-items: center;
                            gap: 12px;
                            align-self: stretch;
                            border-radius: 20px;
                            border: 1px solid #858585;
                            background: #fff;
                            input{
                                border: none;
                                outline: none;
                                font-size: 16px;
                                flex: 1;
                            }
                        }
                        @include responsiveMobile(){
                            display: flex;
                            width: 100%;
                            height: 60px;
                            padding: 16px 20px;
                            align-items: center;
                            gap: 12px;
                            align-self: stretch;
                            border-radius: 20px;
                            border: 1px solid #858585;
                            background: #fff;
                            input{
                                border: none;
                                outline: none;
                                font-size: 22px;
                                flex: 1   
                            }
                        }
                    }
                    .container__content-right-form-email{
                        @extend .container__content-right-form-username;
                    }
                    .container__content-right-form-password{
                        @extend .container__content-right-form-username;
                    }
                    .container__content-right-form-cf-password{
                        @extend .container__content-right-form-username;
                    }
                    .container__content-right-submit{
                        text-decoration: none;
                        font-size: 16px;
                        color: $color;
                        display: flex;
                        width: 330px;
                        height: 46px;
                        padding: 0px 50px;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;
                        align-self: stretch;
                        border-radius: 20px;
                        background: $btnColor;
                        @include responsiveTablet(){
                            text-decoration: none;
                            color: $color;
                            display: flex;
                            width: 325px;
                            height: 46px;
                            padding: 0px 50px;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            align-self: stretch;
                            border-radius: 20px;
                            background: $btnColor;
                        }
                        @include responsiveMobile(){
                            text-decoration: none;
                            font-size: 22px;
                            color: $color;
                            display: flex;
                            width: 100%;
                            height: 60px;
                            padding: 0px 50px;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            align-self: stretch;
                            border-radius: 20px;
                            background: $btnColor;
                        }
                    }
                }
            }
        }
    }
    .footer{
        display: flex;
        padding: 40px 0;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;
        background: #3B3B3B;
        @include responsiveTablet(){
            display: flex;
            padding: 40px 0;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            align-self: stretch;
            background: #3B3B3B;
        }
        @include responsiveMobile(){
            display: flex;
            padding: 40px 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            align-self: stretch;
        }
        .footer__top{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include responsiveTablet(){
                display: flex;
                width: 690px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @include responsiveMobile(){
                display: flex;
                width: 80%;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                padding-bottom: 80px;
            }
            .footer__top-first{
                display: flex;
                width: 327.414px;
                padding-right: 84px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                @include responsiveTablet(){
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }
                @include responsiveMobile(){
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }
                .footer__top-first-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    @include responsiveTablet(){
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    @include responsiveMobile(){
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    .footer__top-first-content-des{
                        width: 238px;
                        color: $foreignColor;
                        font-size: 16px;
                        line-height: 140%;
                        @include responsiveTablet(){
                            align-self: stretch;
                            width: 690px;
                            color: $foreignColor;
                            font-size: 16px;
                            line-height: 140%;
                        }
                        @include responsiveMobile(){
                            align-self: stretch;
                            width: 100%;
                            color: $foreignColor;
                            font-size: 20px;
                            line-height: 140%;
                        }
                    }
                    .footer__top-first-content-contact{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 15px;
                        @include responsiveTablet(){
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 15px;
                            align-self: stretch;
                        }
                        @include responsiveMobile(){
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 25px;
                            align-self: stretch;
                        }
                        .footer__top-first-content-contact-caption{
                            width: 238px;
                            height: 18px;
                            color: $foreignColor;
                            font-size: 16px;
                            line-height: 140%;
                            @include responsiveTablet(){
                                align-self: stretch;
                                width: 690px;
                                height: 22px;
                                color: $foreignColor;
                                font-size: 16px;
                                line-height: 140%;   
                            }
                            @include responsiveMobile(){
                                align-self: stretch;
                                width: 100%;
                                font-size: 22px;
                                color: $foreignColor;
                                line-height: 140%;
                            }
                        }
                        .footer__top-first-content-app{
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                        }
                    }
                }
            }
            .footer__top-second{
                display: flex;
                width: 240px;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                @include responsiveTablet(){
                    display: flex;
                    width: 690px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }
                @include responsiveMobile(){
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }
                .footer__top-second-heading{
                    color: $color;
                    font-size: 22px;
                    line-height: 160%;
                    text-transform: capitalize;
                    @include responsiveMobile(){
                        align-self: stretch;
                        color: $color;
                        font-size: 28px;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
                }
                .footer__top-second-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    @include responsiveMobile(){
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    .footer__top-second-content-item{
                        color: $foreignColor;
                        font-size: 16px;
                        line-height: 140%;
                        @include responsiveMobile(){
                            display: flex;
                            font-size: 20px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 20px;
                            align-self: stretch;    
                        }
                    }
                }
            }
            .footer__top-third{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                @include responsiveTablet(){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }
                @include responsiveMobile(){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;   
                }
                .footer__top-third-heading{
                    color: $color;
                    font-size: 22px;
                    line-height: 160%;
                    text-transform: capitalize;
                    @include responsiveTablet(){
                        align-self: stretch;
                        color: $color;
                        font-size: 22px;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
                    @include responsiveMobile(){
                        align-self: stretch;
                        color: $color;
                        font-size: 28px;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
                }
                .footer__top-third-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    @include responsiveTablet(){
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    @include responsiveMobile(){
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        align-self: stretch;
                    }
                    .footer__top-third-content-des{
                        width: 330px;
                        color: $foreignColor;
                        font-size: 16px;
                        line-height: 140%;
                        @include responsiveTablet(){
                            width: 690px;
                            color: $foreignColor;
                            font-size: 16px;
                            line-height: 140%;
                            align-self: stretch;
                        }
                        @include responsiveMobile(){
                            width: 100%;
                            color: $foreignColor;
                            font-size: 22px;
                            line-height: 140%;
                            align-self: stretch;
                        }
                    }
                    .footer__top-third-content-form{
                        display: flex;
                        height: 60px;
                        padding: 16px 0px 16px 20px;
                        align-items: center;
                        gap: 12px;
                        align-self: stretch;
                        border-radius: 20px;
                        background: #fff;
                        @include responsiveTablet(){
                            display: flex;
                            width: 420px;
                            height: 60px;
                            padding: 16px 0px 16px 20px;
                            align-items: center;
                            gap: 12px;
                            border-radius: 20px;
                            background: #fff;
                        }
                        @include responsiveMobile(){
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 16px;
                            background: none;
                            padding: 0;
                        }
                        input{
                            flex: 1;
                            color: #2b2b2b;
                            font-size: 16px;
                            line-height: 140%;
                            border: none;
                            outline: none;
                            @include responsiveMobile(){
                                // flex: 1;
                                width: 100%;
                                padding: 12px 0 12px 12px;
                                border-radius: 20px;
                                color: #2b2b2b;
                                font-size: 22px;
                                font-weight: 400px;
                                line-height: 140%;
                                border: none;
                                outline: none;
                            }
                        }
                        .footer__top-third-content-form-subscribe{
                            @include btn(flex, 60px, 12px);
                            text-decoration: none;
                            padding: 0px 50px;
                            justify-content: flex-end;
                            align-items: center;
                            border-radius: 20px;
                            background-color: $btnColor;
                            font-size: 16px;
                            color: $color;
                            font-weight: 600;
                            line-height: 140%;
                            text-align: center;
                            @include responsiveMobile(){
                                text-decoration: none;
                                display: flex;
                                width: 100%;
                                padding: 12px 50px;
                                justify-content: center;
                                align-items: center;
                                gap: 12px;
                                border-radius: 20px;
                                background-color: #A259FF;
                                font-size: 22px;
                                color: #fff;
                                font-weight: 600px;
                                line-height: 140%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .footer__bottom{
            display: flex;
            width: 1050px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            @include responsiveTablet(){
                display: flex;
                width: 690px;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
            @include responsiveMobile(){
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
            .footer__bottom-border{
                background: #ccc;
                width: 1050px;
                height: 1px;
                @include responsiveTablet(){
                    width: 690px;
                }
                @include responsiveMobile(){
                    width: 100%;
                }
            }
            .footer__bottom-content{
                align-self: stretch;
                color: $foreignColor;
                font-size: 12px;
                line-height: 110%;
                @include responsiveMobile(){
                    align-self: stretch;
                    color: $foreignColor;
                    font-size: 22px;
                    line-height: 110%;   
                }
            }
        }
    }
}